*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--width-header: 4rem;
	--height-banner: 6rem;
	--height-footer: 6rem;
}

@media screen and (min-width: 540px) {
	:root {
		--width-header: 10rem;
	}

    .visible-xs{
        display: none;
    }

    .nav-sidebar ul{
        padding-left: 1rem;
    }

}

@media screen and (max-width: 540px) {
    .nav-sidebar{
        width: 100%;
        align-items: center;
        margin-left: none;
    }
    .cover{
        background-color: rebeccapurple;
        margin: 0 .5rem 1rem 0;
        width: calc((100% - 3rem) / 3);
    }
    
    

    .hidden-xs{
        display: none;
    }

    .visible-xs{
        display: block;
    }

    
    
}

html, body{
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

body{
    background-color: #141922;
    color: white;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.banner{
    
    background-color: rgba(0, 0, 0, 0.3);
    /* text-align: right; */
    position: fixed;
	top: 0;
	right: 0;
	width: calc(100% - var(--width-header));
	height: var(--height-banner);
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 10;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}


/* button */
#upgrade{
    margin-right: 1.5rem;
    border: solid 1px white;
    border-radius: 50px;
    padding: .7rem 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

#upgrade:hover{
    transform: scale(1.1);
}


#wrapper{
    display: flex;
    flex-direction: row;
    height: calc(100vh - 100px);
    
    height: 100vh;
}

.header-sidebar{
    overflow: hidden;
    background-color: black;
    
    flex: 0 0 var(--width-header);
}

header, main {
	height: calc(100% - var(--height-footer));
}

/* main{
    margin-top: 80px;
    width: 100%;
    height: 100%;
} */

main {
    flex: 1 0 0;
    overflow-y: auto;
}

main .content {
	margin: calc( var(--height-banner) + 1rem) 1rem 2rem 1rem;
}

.logo{
    height: 2.5rem;
    margin: 1rem;
    z-index: 11;
    position: relative;
}



button{
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: white;
    line-height: normal;
    
}

.nav-sidebar{
    display: flex;
    flex-direction: column;
    
    

    /* gap: 50px; */
}

.user{
    position: absolute;
    bottom: 6rem;
}


.ul-sidebar{
    display: flex;
    flex-direction: column;
    
}


.ul-sidebar li, .ul-playlist li{
    margin-bottom: .8rem;
    opacity: 0.6;
    list-style: none;
}

.ul-sidebar li.selected{
    border-left: 3px solid #a5f42d;
    opacity: 1;
}

.ul-sidebar li:hover, .ul-playlist li:hover{
    opacity: 1;
}

.ul-playlist{
    overflow: auto;
}

.ul-playlist li{
    font-size: .8em;
}


.ul-sidebar button{
    display: flex;
    align-items: center;
}

.ul-playlist, .ul-playlist ul{
    list-style-type: none;
}

.ul-playlist li{
    color: white;
    text-decoration: none;
}

.icon{
    height: 1.5rem;
}

.mini{
    height: 1.2rem;
}

.round{
    height: 1.5rem;
    width: 1.5rem;
    background-color: #797b80;
    border-radius: 50%;
    overflow: hidden;
}

.plus-icon{
    font-size: 2rem;
    padding-right: .5rem;
}

/* main */
.nav-main{
    display: flex;
    justify-content: center;
    
}

.nav-ul{
    display: flex;
    align-items: baseline;
}
.nav-ul li{
    display: inline;
    text-decoration: none;
    padding: 0 .5rem;
}

.nav-ul .grey-btn{
    color: #797b80;
    font-weight: 600;
    text-transform: uppercase;
}

.nav-ul .special-btn{
    /* border-bottom: 3px solid #a5f42d;
    width: 30px; */
    display: flex;
    flex-direction: column;
}

.special-line{
    border-bottom: 3px solid #a5f42d;
    width: 35px;
    align-self: center;
    /* padding-top: .5rem; */
}

.contenitor{
    padding-top: 2rem;
}

h2{
    font-size: 1em;
    text-transform: uppercase;
    padding: 1.5rem 0 1rem 0;
}

.plus{
    align-items: center;
    cursor: pointer;
}

.cover-contenitor{
    /* display: flex; */
    width: 100%;
    padding-top: 1rem;
}

.flex{
    display: flex;
}

.cover{
    /* min-height: 150px;
    min-width: 150px; */
    background-color: aqua;
    margin: 0 .5rem 1rem 0;
    float: left;
    width: calc((100% - 3rem) / 6);

    position: relative;
    display: flex;
    /* width: 50%; */
}

.cover::after{
    content: "";
    display: block;
    padding-bottom: 100%;
}

.img-content{
    position: absolute;
    width: 100%;
    height: 100%;
}

.cover-contenitor img{
    height: 100%;
}

.title{
    /* position: relative;
    top: 70px;; */

}

.cover-contenitor h3{
    color: white;
    text-align: center;
    font-size: 1rem;
}

.cover-contenitor h4{
    color: #797b80;
    text-align: center;
    font-size: .7rem;
    padding-top: .3rem;
}

#player {
	flex: 0 0 100%;
	height: var(--height-footer);
    background-color: #282828;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}