*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--width-header: 4rem;
	--height-overlay-upgrade: 6rem;
	--height-footer: 6rem;
}

@media screen and (min-width: 540px) {
	:root {
		--width-header: 10rem;
	}
}

html, body{
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

body{
    background-color: #141922;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.banner{
    
    background-color: rgba(0, 0, 0, 0.3);
    text-align: right;
    position: fixed;
	top: 0;
	right: 0;
	width: calc(100% - var(--width-header));
	height: var(--height-overlay-upgrade);
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 10;
}

#upgrade{
    border: solid 1px white;
    border-radius: 50px;
    padding: .7rem 2rem;
    font-weight: 600;
}

.header-sidebar{
    overflow: hidden;
    background-color: black;
    /* position: fixed; */
}

#wrapper{
    display: flex;
    flex-direction: row;
    height: calc(100vh - 100px);
   
    height: 100vh;
}


header, main {
	height: calc(100% - var(--height-footer));
}

/* main{
    margin-top: 80px;
    width: 100%;
    height: 100%;
} */

.header-sidebar {
    flex: 0 0 var(--width-header);
}
main {
    flex: 1 0 0;
    overflow-y: auto;
}

main .content {
	margin: calc( var(--height-overlay-upgrade) + 1rem) 1rem 2rem 1rem;
}

.logo{
    height: 2.5rem;
    margin: 1rem;
    z-index: 11;
    position: relative;
}

button{
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: white;
    line-height: normal;
    
}


nav{
    display: flex;
    justify-content: center;
    
}

.nav-ul li{
    display: inline;
    text-decoration: none;
}

.ul-sidebar, .ul-playlist{
   
    margin-left: 1.5rem;
}

.ul-playlist, .ul-playlist ul{
    list-style-type: none;
}

.ul-playlist li{
    color: white;
    text-decoration: none;
}

.icon{
    height: 1.5rem;
}

.plus-icon{
    font-size: 2rem;
}

.contenitor{
    /* padding: 1rem; */
}

h2{
    color: white;
    padding: 1rem 0;
}

.cover-contenitor{
    /* display: flex; */
    width: 100%;
}

.flex{
    display: flex;
    flex-direction: column;
}

.cover{
    /* min-height: 150px;
    min-width: 150px; */
    background-color: aqua;
    margin: 0 .5rem 1rem 0;
    float: left;
    width: calc((100% - 3rem) / 6);

    position: relative;
    display: flex;
    /* width: 50%; */
}

.cover::after{
    content: "";
    display: block;
    padding-bottom: 100%;
}

.img-content{
    position: absolute;
    width: 100%;
    height: 100%;
}

.cover-contenitor img{
    height: 100%;
}

.title{
    /* position: relative;
    top: 70px;; */

}

.cover-contenitor h3{
    color: white;
    text-align: center;
    font-size: 1rem;
}

#player {
	flex: 0 0 100%;
	height: var(--height-footer);
    background-color: #282828;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}