*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #141922;
}

.header-sidebar{
    height: 800px;
    width: 300px;
    background-color: black;
    
    position: fixed;
}

.banner{
    height: 5rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 2.5rem;
    margin: 1rem;
}

button{
    cursor: pointer;
    text-transform: uppercase;
}

nav{
    display: flex;
    justify-content: center;
    
}

ul{
    /* display: inline; */
}

.nav-ul li{
    display: inline;
    text-decoration: none;
}

.ul-sidebar{
    padding-top: 5rem;
    margin-left: 1.5rem;
}

.cover{
    height: 100px;
    width: 100px;
    background-color: aqua;
}

